html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#one{
    height:20%;
    width:10%;
    background-color: red ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#two{
    height:20%;
    width:10%;
    background-color: rgb(43, 255, 0) ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#three{
    height:20%;
    width:10%;
    background-color: rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#four{
    height:20%;
    width:10%;
    background-color: rgb(117, 244, 6) ;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
/* p{
    margin-left: 50%;
    justify-content: center;
    
} */
