html,
body {
    
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 0%;
    margin: 0px;
    background-color: white;
}
header{
    background-color: rgb(255, 255, 255);
    
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}
#headdiv {
    width: 100%;
    margin-top: 1%;
    box-sizing: border-box;
    /* background-color: blue; */

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    /* justify-content: space-between; */
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 0px 10px 70px;
    
}

button {
    height: 40px;
    width: 130px;
    background-color: white;
    border: none;
    margin-left: 20px;
    border-radius: 20%;
    border: none;
}
#aone{
    color: white;
}
a {
    font-size: medium;
    color: blue;
    text-decoration: 0px;
}
#reg {
    background-color: blue;
    color: white;

}
h1
{
    margin: 10px 100px 30px;
}
#fdiv{
    
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
article{
    width: 100%;
    padding:0% 0% 3%;
    background-color: rgb(255, 255, 255);
}
section{
    width: 100%;
    padding:0% 0% 21%;
    background-color: rgb(255, 255, 255);
}
form{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;

}
label{
    margin:20% 8% 30% 8%;
    font-size: 20px;
}
input[type="text"]{
    width: 88%;
    height: 60%;
    margin-left: 8%;
    margin-top: 2%;
    padding: 1%;
}
input[type="submit"]{
    background-color: blue;
    color: white;
    padding: 15px;
    margin-top: 3%;
    border-radius: 10%;
    margin-left: 8%;
    border: none;
}